<html>
    <head>
        <title>Base64 Encoder/Decoder</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div>
            <p id="validation-message-decode"></p>
            <form id="decode-form">
            <textarea id="input-encoded" placeholder="Enter base64 encoded string here..." rows="5" cols="100"></textarea>
            <button>Decode</button>
            </form>
            <textarea id="result-decoded" placeholder="Base64 decoded output will be displayed here...." rows="5" cols="100"></textarea>
        </div>
        {{>footer}}

        <script src="/js/decode.js"></script>
    </body>
</html>